---
import Coded from "@components/Coded.astro";
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="O-Pal Sites">
  <div class="grid grid-rows-2 w-full h-full auto-rows-max">
    <Header />
    <Coded />
  </div>
</Layout>
