---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <div>
    <h1 class="font-orbitron text-8xl text-white animate-pulse cursor-pointer">
      O-Pal
    </h1>
  </div>
</Layout>
